<%- include('./header.ejs', {Env: Env}); %>
<body>
    <%- include('./navbar.ejs', {Env: Env}); %>
    
    <div id="container"  class="container">
	<h1><%= Env.title %></h1>
	<div id="menu">
		<ul>
			<li><a href="<%= Env.https_path %>">患者用予約画面へ</a></li>
		</ul>
	</div>
	<h3>管理画面ログイン</h3>
	<ul>
		<% errors.forEach(function(error){ %>
            <li class="attention"><%=error%></li>
        <% }); %>
        
	</ul>
	<form action="<%= Env.admin%>/login" method="post" id="login_form">
		<div class="form">
        <label>ユーザーID：</label>
            <input type="text" name="username" class="form-control"/>
        </div>
        <div class="form">
            <label>パスワード：</label>
            <input type="password" name="password" class="form-control"/>
        </div>
        <div class="form">
            <input type="submit" value="ログイン" class="btn btn-lg btn-primary"/>
        </div>
	</form>
</div>
<%- include('./footer.ejs'); %>

</body>

</html>