<%
  const submitMode =
    (form.mode === 'planchange') ? 'plan' : form.mode;
%>

<form action="<%= Env.admin %>" method="get">
    <input type="hidden" name="mode" value="<%= submitMode %>" />
        <dl>
            <dt>年度情報</dt>
            <dd>
                <select name="id" id="select_year" class="form-control" >
                    <% plans.forEach(function(p){ %>
                        <option value="<%=p.id%>" <% if(p.id == plan){ %> selected="selected" <% } %> >ID:<%= p.id %> | <%= p.year %>年度 | <%= p.name %></option>
                    <% }); %>
                </select>
            </dd>
        </dl>
</form>