<%- include('./header.ejs', {Env: Env}); %>
<body>
    <%- include('./navbar-admin.ejs', {Env: Env,form:form}); %>
    
    <div id="container"  class="container">
        <ul>
            <% errors.forEach(function(error){ %>
                <li class="attention"><%=error%></li>
            <% }); %>
            
        </ul>
        <%- include('./admin_selectplans.ejs', {Env,form, plans,plan}); %>

        
    
        <h2>予約詳細・変更</h2>
            <table class="table">
                <tr>
                    <th>患者名</th> 
                    <td>
                        <%=ptdata.resdata.PT_name%>様 <%=ptdata.resdata.PT_age%>歳
                    </td>
                    <td>
                        <form action="<%=Env.admin%>" method="get">
                            <input type="hidden" name="mode" value="userchange" />
                            <input type="hidden" name="id" value="<%=form.id%>" />
                            <input type="hidden" name="uid" value="<%=ptdata.resdata.UID%>" />
                            <input type="submit" class="btn btn-primary" value="ユーザー情報編集" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>予約日</th> 
                    <td class="text-danger">
                        <%=ptdata.resdata.year%>年<%=ptdata.resdata.month%>月<%=ptdata.resdata.day%>日(<%=ptdata.resdata.youbi%>) <%=ptdata.resdata.zonename%>
                    </td>
                    <td>
                        <form action="<%=Env.admin%>" method="get">
                            <input type="hidden" name="mode" value="changecomplete" />
                            <input type="hidden" name="resid" value="<%=ptdata.resdata.ID%>" />
                            <input type="hidden" name="id" value="<%=ptdata.resdata.plan%>" />
                            <input type="hidden" name="del" value="1" />
                            <input type="submit" id="btndelres" class="btn btn-danger" value="予約を削除する" />
                        </form>
                     </td>
                </tr>
                <tr>
                    <th>回数・量(他の予約)</th>
                        <td><%=ptdata.resdata.Vac_name%>回目：<%=ptdata.resdata.Vac_volume%>ml</td>
                        <td>
                            <% ptdata.other_res.forEach(function(o){ %>         
                                <a href="<%=Env.admin%>?mode=pt&amp;resid=<%=o.ID%>"><%=o.Vac_name%>回目:<%=o.jdate%>(<%=o.youbi%>)<%=o.zonename%></a><br/>
                             <% }); %>
                        </td>
                </tr>
                
             </table>
             <form action="<%=Env.admin%>" method="get">
                <input type="hidden" name="mode" value="pt" />
                <input type="hidden" name="id" value="<%=form.id%>" />
                <input type="hidden" name="resid" value="<%=ptdata.resdata.ID%>" />
                <input type="hidden" name="cal" value="1" />
                <input type="submit" class="btn btn-primary mb-3" value="予約日変更のためカレンダーを表示" />
             </form>
                 
        <% if(ptdata.cal == 1) { %>
        	<h2>日付を変更するときは、下のカレンダーから変更日を選択</h2>

            <form action="<%= Env.admin %>" method="get">
                <input type="hidden" name="mode" value="pt" />
                <input type="hidden" name="id" value="<%= form.id%>" />
                <input type="hidden" name="monthchange" value="1" />
                <input type="hidden" name="resid" value="<%=ptdata.resdata.ID%>" />
                <input type="hidden" name="cal" value="1" />
                
                <div class="form-inline">
                    <select name="year"  id="select_year" class="form-control" >
                    <% years.forEach(function(year){ %>
                        <option value="<%= year.id %>"<% if(year.flag){ %> selected="selected"<% } %>><%= year.id %>年</option>
                    <% }); %>
                    </select>
                    <select name="month" id="select_month" class="form-control">
                    <% months.forEach(function(month){ %>
                        <option value="<%= month.id%>"<% if(month.flag){ %> selected="selected"<% } %>><%= month.id %>月</option>
                    <% }); %>
                    </select>
                    <noscript>
                    <input type="submit" value="表示する"  class="form-control"/>
                    </noscript>
                </div>
            </form>

            <h3><%= form.year %>年<%= form.month %>月の予約状況 </h3>
            <ul>
                <li>予約数：<%= tvial %>バイアル</li>
            </ul>
                <table summary="予約カレンダー表示" class="table table-bordered table-responsive-sm">
                    <tr>
                        <th class="table-danger">日</th>
                        <th class="table-light">月</th>
                        <th class="table-light">火</th>
                        <th class="table-light">水</th>
                        <th class="table-light">木</th>
                        <th class="table-light">金</th>
                        <th class="table-primary">土</th>
                    </tr>
                    <% calendars.forEach(function(calendar, index){ %>
                        <% if(index % 7 == 0){ %>
                            <tr>
                        <% } %>
                        <% if(calendar.type === 'day' || calendar.type == 'satday'){ %>
                            <% if(calendar.type === 'day'){ %>
                                <% if(calendar.past == 1) { %>
                                    <td class="table-warning">
                                <% } else { %>
                                    <td class="table-light">
                                <% } %>
                            <% } else { // Saturday %>
                                <% if(calendar.past == 1) { %>
                                    <td class="table-warning">
                                <% } else { %>
                                    <td class="table-primary">
                                <% } %>
                            <% } %>
                            <%= calendar.day%><br/>
                            <% if(calendar.rns.length > 0){ %>
                                <% calendar.rns.forEach(function(rn){ %>
                                    <a href="<%=Env.admin%>?mode=changeconf&amp;id=<%=form.id %>&amp;year=<%=form.year %>&amp;month=<%=form.month %>&amp;day=<%=calendar.day %>&amp;zoneid=<%=rn.zoneid%>&amp;resid=<%=ptdata.resdata.ID%>"><%=rn.zonename%>:<%=rn.num%></a><br/>
                                <% }); %>
                            <% } else { %>
                                <% zones.forEach(function(zone){ %>
                                    <a href="<%=Env.admin%>?mode=changeconf&amp;id=<%=form.id %>&amp;year=<%=form.year %>&amp;month=<%=form.month %>&amp;day=<%=calendar.day %>&amp;zoneid=<%=zone.id%>&amp;resid=<%=ptdata.resdata.ID%>"><%=zone.name%>:0</a><br/>
                                <% }); %>
                            <% } %>
                            <% if(calendar.zan > 0){ %> <em>残:<%=calendar.zan %>ml</em> <% } %>
                            </td>
                        <% } else if(calendar.type === 'sunday') { %>
                            <td  class="table-danger">
                                <%= calendar.day%><br/>
                            </td>
                        <% } else { %>
                            <td class="table-secondary">-</td>
                        <% } %>
                        <% if(index % 7 == 6){ %>
                            </tr>
                        <% } %>
                    <% } ); //foreach %>
                </table>
        <% } %>

        <div id="navi" class="form-group mt-3">
            <a href="#" class="btn btn-info"  role="button" id="backbtn">戻る</a>
        </div>
    </div>
<%- include('./footer.ejs'); %>
<script type="text/javascript" src="/js/admin-c.js"></script>

</body>

</html>