<%- include('./header.ejs', {Env: Env}); %>
<body>
    <%- include('./navbar.ejs', {Env: Env}); %>

    <div id="container" class="container">
        <nav aria-label="パンくずリスト">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="<%= Env.https_path %>">ホーム</a></li>
                <li class="breadcrumb-item" aria-current="page">家族登録・削除</li>
                <li class="breadcrumb-item active" aria-current="page">家族削除の確認</li>
            </ol>
        </nav>
        <div class="jumbotron">
            <h2>家族削除の確認</h2>
            <p>以下の家族情報を削除しますが、よろしいですか？<br/>よろしければ、下のボタンを押して下さい。</p>
            <form action="<%= Env.https_path %>" method="get">
                <ul class="list-group list-group-flush">
                    <% delusers.forEach(function(u, key){ %>
                        <li class="list-group-item"><%= u.name %>様<input type="hidden"  name="deluid[]" value="<%= u.uid %>"></li>
                    <% }); %>
                </ul> 
                <input type="hidden" name="mode" value="familydel" />    
                <p><input type="submit" value="上記の家族を削除する"  class="btn btn-primary" /></p>
            </form>
        <div id="navi" class="form-group">
            <a href="#" class="btn btn-info"  role="button" id="backbtn">戻る</a>
        </div>
    </div>
    <%- include('./footer.ejs'); %>

</body>

</html>