<%- include('./header.ejs', {Env: Env}); %>
<body>
    <%- include('./navbar.ejs', {Env: Env}); %>
    
    <div id="container" class="container">
        <nav aria-label="パンくずリスト">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="<%= Env.https_path %>">ホーム</a></li>
                <li class="breadcrumb-item">予約の確認・変更・キャンセル</li>
                <li class="breadcrumb-item active" aria-current="page">削除の確認</li>
            </ol>
        </nav>
        <div class="jumbotron">
            <h2>予約削除の確認</h2>
		    以下の予約をキャンセルします。よろしければ、下のボタンを押して下さい。
		        <div class="form-group">
                    <form action="<%=Env.https_path%>" method="get">
                        <input type="hidden" name="mode" value="reservedel" />
                        <input type="hidden" name="plan" value=<%=form.plan%> />
                        <table class="table">
                            <tr><th>氏名</th><th>予約日</th></tr>
                            <% res.forEach((r) => { %>
                                <tr>
                                    <td>
                                        <input type="hidden"  name="resids[]" value="<%=r.ID%>"/>
                                        <%=r.PT_name%>
                                    </td>
                                    <td>
                                        <%=r.j_date%><%=r.zonename%>
                                    </td>
                                </tr>
                            <% }); %>
                        </table>
                        <input type="submit" value="上記の予約を削除する" id="btndel" class="btn btn-danger"/>
                    </form> 
                <div>
        </div>
        <div id="navi" class="form-group">
            <a href="#" class="btn btn-info mt-1"  role="button" id="backbtn">戻る</a>
        </div>
    </div>
<%- include('./footer.ejs'); %>

</body>

</html>